*.o
.dub/
a
aa
b
bdiff
diff
dub.selections.json
libstdf2xls.a
src/*.swp
src/makechip/*.swp
src/a
src/makechip/Stdf.d.bak
src/makechip/a
stdf2xls
stdf2xls-test-library
x.tmp
*.tmp
*.a
.~lock*
.vscode/
*.code-workspace
.vs/
out/
build/
*.exe
*.aux
*.log
*.toc
*.synctex.gz
